body{
    background-color: aquamarine;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    color: rgb(111, 190, 111);
    font-size: 42px;
    line-height: 47px;
    display: flex;
    justify-content: center;
    margin: 40px auto 40px auto;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: auto;
}

.card{
    font-size: 0;
    margin: 25px;
    width: 140px;
    height: 140px;
    background: rgb(33,0,36);
background: linear-gradient(90deg, rgba(33,0,36,1) 0%, rgba(94,0,255,1) 52%, rgba(188,16,193,1) 100%);
border: 5px solid white;
border-radius: 12px;
box-sizing: border-box;
box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
text-align: center;
user-select: none;
}

.open{
    animation: open-card 0.2s linear forward;
}

.close{
    animation: close-card 0.2s linear;
}

@keyframes open-card{
    0%{
        font-size: 0;
        transform: rotate(180deg);
        background:linear-gradient(-90deg, rgb(27, 2, 31) 0%, rgb(69, 13, 165) 52%, rgb(127, 19, 131) 100%) ;
    }
    50%{
        font-size: 0;
    }
    51%{
        font-size: 75px;
    }
    100%{
        font-size: 75px;
        background: white;
    }

}
@keyframes close-card{
    0%{
        font-size: 75px;
        background: white;
    }
    50%{
        font-size: 75px;
    }
    51%{
        font-size: 0;
    }
    100%{
        font-size: 0;
        transform: rotate(180deg);
        background:linear-gradient(-90deg, rgb(27, 2, 31) 0%, rgb(69, 13, 165) 52%, rgb(127, 19, 131) 100%) ;
    }

}